<h1>Colleges list ...</h1>
<table border="1" cellpadding="5">
    <tr>
        <th>id</th>
        <th>title</th>
    </tr>
    {% for college in colleges %}
        <tr>
            <td>{{ college.id }}</td>
            <td><a href="{{ path('college_details', {id: college.id}) }}">{{ college.title }}</a></td>
        </tr>
    {% endfor %}
</table>
